body
{

}
h1
{
    text-align:center;
    background-color:#5b0000 ;
    color: #ffffff;
    padding: 10px;
}

h2
{
    margin-left:15%;
    margin-top:0%;
    padding:0px;
}

h3
{
    padding:0px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:fixed;
}

li a 
{
    display: block;
    padding: 10px 20px;
    background-color: #0bd4e2;
    text-decoration: none;
}

li a:hover
{
    background-color: white;
}

p
{
    margin-left:15%;
    margin-top:0px;
    padding:5px;
}